body{
    background-image: url(https://i.pinimg.com/originals/29/f8/e7/29f8e7f69d641995cc74a1bd83f81caf.jpg);
}
.header{

    display:flex;
    justify-content: space-between;
    }

.grid{
    display:flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    
    }
